@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Lora:wght@500;700&family=Montserrat:wght@300;500;600&display=swap");
/*reset*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--fontcolor);
}

li {
  list-style-type: none;
}

/*variables*/
:root {
  --bgcolor: rgba(24, 23, 25, 1);
  --fontcolor: #f2f2f2;
}

/*fonts*/
.nav_bar P {
  font-family: "Crimson pro", sans-serif;
  font-weight: 200;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  white-space: nowrap;
}

.nav_bar .menu {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.left_page h1 {
  font-family: "Lora", sans-serif;
  font-weight: 400;
}

.left_page p {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.left_page .read_more {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.right_page h2,
.right_page h4 {
  font-family: "Montserrat", sans-serif;
  font-family: 500;
}

.right_page h3 {
  font-family: "Lora", sans-serif;
  font-weight: 700;
}

footer {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 10px;
  line-height: 17px;
  color: darkgray;
}

/*base styles*/
body {
  background: var(--bgcolor);
  color: var(--fontcolor);
  height: 100vw;
}

.nav_bar .logo_nav {
  border: 1px solid #f2f2f2;
  width: 103px;
  height: 32px;
  padding: 8px;
  text-align: center;
}

/*mobile styles*/
nav .nav_bar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: auto;
}

nav .nav_bar .logo_nav {
  margin-left: 19px;
  margin-top: 12px;
}

nav .nav_bar .link_nav {
  position: fixed;
  height: 100vh;
  background: rgba(24, 23, 25, 0.9);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  width: 100%;
  left: 0;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  clip-path: circle(0%);
  -webkit-clip-path: circle(0%);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

nav .nav_bar .link_nav li {
  position: relative;
  margin-bottom: 60px;
}

nav .nav_bar .link_nav li::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background: -webkit-gradient(linear, right bottom, left top, from(transparent), to(#f00));
  background: linear-gradient(to left top, transparent, #f00);
  right: 0;
  top: 100%;
  -webkit-transition: width 0.3s linear;
  transition: width 0.3s linear;
}

nav .nav_bar .link_nav li:hover::after {
  width: 100%;
}

nav .nav_bar .link_nav a:hover {
  font-weight: bold;
  color: red;
  -webkit-transition: color 0.5s linear;
  transition: color 0.5s linear;
}

nav .nav_bar .link_nav.open {
  clip-path: circle(100%);
  -webkit-clip-path: circle(100%);
}

nav .nav_bar .menu_hamburger {
  right: 0;
  position: fixed;
  padding: 30px;
  background: transparent;
  border: 0;
  cursor: pointer;
  z-index: 3;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
  -webkit-transition: all .3s;
  transition: all .3s;
}

nav .nav_bar .menu_hamburger .box_hamburger {
  position: relative;
  -webkit-transform: translateY(-18px);
          transform: translateY(-18px);
  width: 40px;
  height: 40px;
}

nav .nav_bar .menu_hamburger .box_hamburger .inner_hamburger {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -130%);
          transform: translate(-50%, -130%);
  width: 100%;
  height: 3px;
  background: antiquewhite;
  -webkit-transition: background 0.1s ease-in-out;
  transition: background 0.1s ease-in-out;
}

nav .nav_bar .menu_hamburger .box_hamburger .inner_hamburger::after,
nav .nav_bar .menu_hamburger .box_hamburger .inner_hamburger::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: antiquewhite;
  top: 0;
  left: 0;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

nav .nav_bar .menu_hamburger .box_hamburger .inner_hamburger::after {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

nav .nav_bar .menu_hamburger .box_hamburger .inner_hamburger::before {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

/*animation*/
nav .nav_bar .menu_hamburger.its-active .inner_hamburger {
  background: transparent;
}

nav .nav_bar .menu_hamburger.its-active .inner_hamburger::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

nav .nav_bar .menu_hamburger.its-active .inner_hamburger::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section .left_page {
  margin-top: 38px;
  margin-left: 12px;
  margin-right: 12px;
}

section .left_page h1 {
  margin-bottom: 25px;
}

section .left_page p {
  margin-bottom: 25px;
}

section .left_page .read_more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section .left_page .read_more .arrow {
  margin-left: 12px;
}

section .right_page {
  margin-top: 37px;
  margin-left: 12px;
  margin-right: 12px;
}

section .right_page .boximg {
  width: 351px;
  height: 264px;
  overflow: hidden;
  border-radius: 12px;
}

section .right_page .boximg .bg_img {
  height: 100%;
}

section .right_page .card {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  height: 138px;
  border-radius: 12px;
  border: 0.15px solid rgba(24, 23, 25, 0.15);
  -webkit-box-shadow: 0 5px 10px rgba(252, 252, 252, 0.05);
          box-shadow: 0 5px 10px rgba(252, 252, 252, 0.05);
  background: rgba(24, 23, 25, 0.15);
  z-index: 2;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  -webkit-transform: translate(40px, -50px);
          transform: translate(40px, -50px);
  padding-left: 12px;
  padding-top: 12px;
}

section .right_page .card .person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .right_page .card .person h2,
section .right_page .card .person h4 {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

section .right_page .card .person h3 {
  -webkit-transform: translate(-10px, 10px);
          transform: translate(-10px, 10px);
}

section .right_page .card .img_box {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
}

section .right_page .card .img_box .person_img {
  -webkit-transform: translateX(-15px);
          transform: translateX(-15px);
  height: 100%;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 25px;
  padding-top: 60px;
}

/*small tablet styles*/
@media screen and (min-width: 401px) and (max-width: 500px) {
  .right_page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .right_page .card {
    margin-right: 60px;
  }
}

@media screen and (min-width: 501px) and (max-width: 620px) {
  section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 100px;
  }
  section .right_page {
    -webkit-transform: translateY(60px);
            transform: translateY(60px);
  }
}

/*large tablets & laptop styles*/
@media screen and (min-width: 621px) {
  .menu_hamburger {
    display: none;
  }
  .nav_bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu {
    margin-top: 20px;
  }
  .logo_nav {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  #link_nav-ds {
    /*reset mobile styles*/
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    clip-path: unset;
    -webkit-clip-path: unset;
    -webkit-transition: none;
    transition: none;
    background: var(--bgcolor);
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[4];
        grid-template-columns: repeat(4, auto);
    transition: none;
    height: 50px;
    position: relative;
    margin-right: 70px;
  }
  #link_nav-ds li {
    margin-right: 30px;
  }
  #link_nav-ds li:last-child {
    margin-right: 0;
  }
  section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 100px;
  }
  section .right_page {
    -webkit-transform: translateY(60px);
            transform: translateY(60px);
  }
  section #boximg {
    width: 400px;
    height: 300px;
  }
  section #boximg img {
    height: 100%;
  }
}

/*desktop styles*/
@media screen and (min-width: 1200px) {
  section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    padding-left: 70px;
    margin-right: 77px;
  }
  section .left_page {
    margin-right: 50px;
  }
  section .left_page h1 {
    font-size: 60px;
    font-weight: 500;
    line-height: 61px;
    white-space: nowrap;
  }
  section .left_page .read_more {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    font-family: "Montserrat", sans-serif;
  }
  section .left_page p {
    font-size: 35px;
    font-weight: 400;
    line-height: 50px;
    font-family: "Montserrat", sans-serif;
  }
  section .right_page {
    -webkit-transform: translateY(60px);
            transform: translateY(60px);
  }
  section #boximg {
    width: 700px;
    height: 500px;
    margin-top: 100px;
  }
  section #boximg img {
    height: 100%;
    border-radius: 12px;
  }
  section #card {
    position: relative;
    width: 400px;
    height: 200px;
    -webkit-transform: translateY(-90px) translateX(240px);
            transform: translateY(-90px) translateX(240px);
  }
  section #card .person {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  section #card .person h3 {
    font-size: 25px;
  }
  footer {
    margin-top: 300px;
  }
}
/*# sourceMappingURL=style.css.map */