@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Lora:wght@500;700&family=Montserrat:wght@300;500;600&display=swap");
/*reset*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--fontcolor);
}

li {
  list-style-type: none;
}

/*variables*/
:root {
  --bgcolor:rgba(24, 23, 25, 1);
  --fontcolor:#f2f2f2;
}

/*fonts*/
.nav_bar P {
  font-family: 'Crimson pro',sans-serif;
  font-weight: 200;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  white-space: nowrap;
}

.nav_bar .menu {
  font-family: 'Montserrat',sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.left_page h1 {
  font-family: 'Lora',sans-serif;
  font-weight: 400;
}

.left_page p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.left_page .read_more {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.right_page h2, .right_page h4 {
  font-family: 'Montserrat',sans-serif;
  font-family: 500;
}

.right_page h3 {
  font-family: 'Lora',sans-serif;
  font-weight: 700;
}

footer {
  font-family: 'Montserrat',sans-serif;
  font-weight: 600;
  font-size: 10px;
  line-height: 17px;
  color: darkgray;
}

/*base styles*/
body {
  background: var(--bgcolor);
  color: var(--fontcolor);
  height: 100vw;
}

.nav_bar .logo_nav {
  border: 1px solid #f2f2f2;
  width: 103px;
  height: 32px;
  padding: 8px;
  text-align: center;
}

/*mobile styles*/
nav .nav_bar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: auto;
  /*animation*/
}

nav .nav_bar .logo_nav {
  margin-left: 19px;
  margin-top: 12px;
}

nav .nav_bar .menu .link_nav {
  position: fixed;
  height: 100vh;
  background: rgba(169, 169, 169, 0.15);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  width: 100%;
  left: 0;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  clip-path: circle(100px at 90% -20%);
  -webkit-clip-path: circle(100px at 90% -20%);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

nav .nav_bar .menu .link_nav li {
  margin-bottom: 60px;
}

nav .nav_bar .menu .link_nav.open {
  clip-path: circle(1000px at 90% -20%);
  -webkit-clip-path: circle(1000px at 90% -20%);
}

nav .nav_bar .menu_hamburger {
  right: 0;
  position: fixed;
  padding: 30px;
  background: transparent;
  border: 0;
  cursor: pointer;
  z-index: 3;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

nav .nav_bar .menu_hamburger .box_hamburger {
  position: relative;
  -webkit-transform: translateY(-18px);
          transform: translateY(-18px);
  width: 40px;
  height: 40px;
}

nav .nav_bar .menu_hamburger .box_hamburger .inner_hamburger {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -130%);
          transform: translate(-50%, -130%);
  width: 100%;
  height: 3px;
  background: antiquewhite;
  -webkit-transition: background .1s ease-in-out;
  transition: background .1s ease-in-out;
}

nav .nav_bar .menu_hamburger .box_hamburger .inner_hamburger::after,
nav .nav_bar .menu_hamburger .box_hamburger .inner_hamburger::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background: antiquewhite;
  top: 0;
  left: 0;
  -webkit-transition: -webkit-transform .2s  ease-in-out;
  transition: -webkit-transform .2s  ease-in-out;
  transition: transform .2s  ease-in-out;
  transition: transform .2s  ease-in-out, -webkit-transform .2s  ease-in-out;
}

nav .nav_bar .menu_hamburger .box_hamburger .inner_hamburger::after {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

nav .nav_bar .menu_hamburger .box_hamburger .inner_hamburger::before {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

nav .nav_bar .menu_hamburger-active .inner_hamburger {
  background: transparent;
}

nav .nav_bar .menu_hamburger-active .inner_hamburger::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

nav .nav_bar .menu_hamburger-active .inner_hamburger::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section .left_page {
  margin-top: 38px;
  margin-left: 12px;
  margin-right: 12px;
}

section .left_page h1 {
  margin-bottom: 25px;
}

section .left_page p {
  margin-bottom: 25px;
}

section .left_page .read_more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section .left_page .read_more .arrow {
  margin-left: 12px;
}

section .right_page {
  margin-top: 37px;
  margin-left: 12px;
  margin-right: 12px;
}

section .right_page .boximg {
  width: 351px;
  height: 264px;
  overflow: hidden;
  border-radius: 12px;
}

section .right_page .boximg .bg_img {
  height: 100%;
}

section .right_page .card {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  height: 138px;
  border-radius: 12px;
  border: 0.15px solid rgba(24, 23, 25, 0.15);
  -webkit-box-shadow: 0 5px 10px rgba(252, 252, 252, 0.05);
          box-shadow: 0 5px 10px rgba(252, 252, 252, 0.05);
  background: rgba(24, 23, 25, 0.15);
  z-index: 2;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  -webkit-transform: translate(40px, -50px);
          transform: translate(40px, -50px);
  padding-left: 12px;
  padding-top: 12px;
}

section .right_page .card .person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .right_page .card .person h2, section .right_page .card .person h4 {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

section .right_page .card .person h3 {
  -webkit-transform: translate(-10px, 10px);
          transform: translate(-10px, 10px);
}

section .right_page .card .img_box {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
}

section .right_page .card .img_box .person_img {
  -webkit-transform: translateX(-15px);
          transform: translateX(-15px);
  height: 100%;
}

/*animation*/
.menu_hamburger:active .inner_hamburger {
  background: transparent;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}

.menu_hamburger:active .inner_hamburger::after {
  -webkit-transform: skew(45deg);
          transform: skew(45deg);
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 25px;
  padding-top: 60px;
}

/*small tablet styles*/
/*large tablets & laptop styles*/
/*desktop styles*/
/*# sourceMappingURL=style.css.map */